* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #ECECEE;
}

/*Grid for weather entries*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 0;
    height: 50px;
    line-height: 50px;
}

/*clearfix*/
.row::after {
    content: "";
    clear: both;
    display: block;
}

.widget {
    border: 6px solid hsla(0,0%,100%,.1);
    box-shadow: 1px 1px 15px rgba(0,0,0,.2);
    display: block;
    width: 400px;
    margin: 0 auto;
}

.widget:hover {
    box-shadow: 1px 1px 15px rgba(0,0,0,.5);
}

.container {
    background: radial-gradient(50% 50%,hsla(0,0%,100%,.5),#003663);
    background-color: #003663;
    color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
    font-family: sans-serif;
    font-size: 20px;
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .widget {
        width: 98%;
    }
}
